---
layout: layouts/svg-roadmap.njk
permalink: "/devops/"
title: DevOps
description: Step by step guide for DevOps or any operations role in 2022
seo:
  title: 'DevOps Roadmap: Learn to become a DevOps Engineer or SRE'
  description: 'Community driven, articles, resources, guides, interview questions, quizzes for DevOps. Learn to become a modern DevOps engineer by following the steps, skills, resources and guides listed in this roadmap.'
  keywords:
    - 'devops roadmap 2022'
    - 'sre roadmap 2022'
    - 'operations roadmap 2022'
    - 'guide to becoming a devops enginer'
    - 'devops roadmap'
    - 'sre roadmap'
    - 'site reliability engineer roadmap'
    - 'operations roles'
    - 'become devops'
    - 'devops skills'
    - 'modern devops skills'
    - 'devops skills test'
    - 'skills for devops'
    - 'learn devops'
    - 'what is devops'
    - 'what is sre'
    - 'devops quiz'
    - 'devops interview questions'
tags:
  - roadmap
  - role-roadmap
  - non-interactive
---

<h1 class='text-5xl font-bold'>Devops Roadmap</h1>
<p>Roadmap to becoming a devops engineer</p>
