<div class='py-16 bg-slate-900 text-white'>
  <div class='max-w-[800px] mx-auto container'>
    <p class='text-gray-400 font-medium flex gap-4 mb-14'>
      <a class='hover:text-white' href='#'>Roadmaps</a>
      <a class='hover:text-white' href='#'>Guides</a>
      <a class='hover:text-white' href='#'>Videos</a>
      <a class='hover:text-white' href='#'>About</a>
      <a class='hover:text-white' href='#'>YouTube</a>
    </p>

    <div class='max-w-[500px]'>
      <p class='flex items-center text-md'>
        <a class='font-medium text-lg inline-flex items-center hover:text-gray-100 text-gray-400' href='/'>
          {% include 'components/logo.njk' %}
          <span class='ml-2'>roadmap.sh</span>
        </a>
        <span class='text-gray-400 mx-2'>by</span>
        <a
          class='bg-blue-500 text-sm py-1 px-1.5 font-regular hover:bg-blue-600 rounded-md'
          href='https://twitter.com/kamranahmedse'
          target='_blank'
        >
          @kamranahmedse
        </a>
      </p>
      <p class='text-gray-500 my-4'>Community created roadmaps, articles, resources and journeys to help you choose your
        path and grow in your career.</p>

      <div class='text-gray-500 text-sm'>
        <p>&copy; roadmap.sh <span class='mx-1.5'>&middot;</span> <a href='#' class='hover:text-white'>FAQs</a> <span class='mx-1.5'>&middot;</span> <a href='#' class='hover:text-white'>Terms</a> <span class='mx-1.5'>&middot;</span> <a href='#' class='hover:text-white'>Privacy</a></p>
      </div>
    </div>
  </div>
</div>
