<div class='py-6 sm:py-16 pb-10 sm:pb-0 bg-slate-900 text-white'>
  <div class='container'>
    <p class='text-gray-400 font-medium flex flex-col sm:flex-row gap-0 sm:gap-4 mb-8 sm:mb-14'>
      <a class='px-2 py-1.5 border-b border-b-gray-700 sm:border-b-0 sm:py-0 sm:px-0 hover:text-white' href='/roadmaps'>Roadmaps</a>
      <a class='px-2 py-1.5 border-b border-b-gray-700 sm:border-b-0 sm:py-0 sm:px-0 hover:text-white' href='/guides'>Guides</a>
      <a class='px-2 py-1.5 border-b border-b-gray-700 sm:border-b-0 sm:py-0 sm:px-0 hover:text-white' href='/videos'>Videos</a>
      <a class='px-2 py-1.5 border-b border-b-gray-700 sm:border-b-0 sm:py-0 sm:px-0 hover:text-white' href='/about'>About</a>
      <a class='px-2 py-1.5 sm:border-b-0 sm:py-0 sm:px-0 hover:text-white'
         href='https://youtube.com/theroadmap?sub_confirmation=1' target='_blank'>YouTube</a>
    </p>

    <div class='max-w-[500px]'>
      <p class='flex items-center text-md'>
        <a class='font-medium text-lg inline-flex items-center hover:text-gray-100 text-gray-400' href='/'>
          {% include 'components/logo.njk' %}
          <span class='ml-2'>roadmap.sh</span>
        </a>
        <span class='text-gray-400 mx-2'>by</span>
        <a
          class='bg-blue-500 text-sm py-1 px-1.5 font-regular hover:bg-blue-600 rounded-md'
          href='https://twitter.com/kamranahmedse'
          target='_blank'
        >
          @kamranahmedse
        </a>
      </p>

      <p class='text-gray-500 my-4'>
        Community created roadmaps, articles, resources and journeys to help you choose your path and grow in your
        career.
      </p>

      <div class='text-gray-500 text-sm'>
        <p>
          &copy; roadmap.sh
          <span class='mx-1.5'>&middot;</span>
          <a href='/about' class='hover:text-white'>FAQs</a>
          <span class='mx-1.5'>&middot;</span>
          <a href='/terms' class='hover:text-white'>Terms</a>
          <span class='mx-1.5'>&middot;</span>
          <a href='/privacy' class='hover:text-white'>Privacy</a>
        </p>
      </div>
    </div>
  </div>
</div>
