<div class='bg-slate-900 text-white py-8'>
  <nav class="container mx-auto max-w-[800px] flex items-center justify-between">
    <a class='font-medium text-lg flex items-center hover:text-yellow-200' href='/'>
      {% include './logo.njk' %}
      <span class='ml-3'>roadmap.sh</span>
    </a>
    <ul class='flex space-x-5'>
      <li><a href='/roadmaps' class='hover:text-yellow-200'>Roadmaps</a></li>
      <li><a href='/guides' class='hover:text-yellow-200'>Guides</a></li>
      <li><a href='/videos' class='hover:text-yellow-200'>Videos</a></li>
      <li><a class='py-2 px-4 text-sm font-regular rounded-full bg-gradient-to-r from-blue-500 to-blue-700 hover:bg-blue-400 text-white' href='/signup'>Subscribe</a></li>
    </ul>
  </nav>
</div>
