<nav class="container mx-auto max-w-[800px] flex items-center justify-between pt-8 px-1">
  <a class='font-bold text-lg flex items-center' href='/'>
    {% include './logo.njk' %}
    roadmap.sh
  </a>
  <ul class='flex space-x-5'>
    <li><a href='/roadmaps' class='hover:text-blue-600'>Roadmaps</a></li>
    <li><a href='/guides' class='hover:text-blue-600'>Guides</a></li>
    <li><a href='/videos' class='hover:text-blue-600'>Videos</a></li>
    <li><a class='p-2 text-sm font-medium rounded-md bg-blue-200 hover:bg-blue-300' href='/signup'>Subscribe</a></li>
  </ul>
</nav>
