{% include "components/download-popup.njk" %}
{% include "components/subscribe-popup.njk" %}

<div class='border-b'>
  <div class='py-12 max-w-[800px] mx-auto container relative'>
    {% include "components/youtube-alert.njk" %}

    <div class='my-6 mt-4'>
      <h1 class='text-4xl mb-2 font-bold'>
        {{ title }}
      </h1>
      <p class='text-gray-500 text-md'>{{ description }}</p>
    </div>

    <div class='flex justify-between'>
      <div class='flex gap-2'>
        <a href='/roadmaps' class='bg-gray-500 py-1.5 px-3 rounded-md text-white text-sm font-medium hover:bg-gray-600'>&larr;
          All Roadmaps
        </a>
        <button
          data-modal='download-popup'
          class='inline-flex items-center justify-center bg-yellow-400 py-1.5 px-3 text-sm font-medium rounded-md hover:bg-yellow-500'
        >
          {% include "icons/download.njk" %}
          <span class='ml-2'>Download</span>
        </button>

        <button data-modal='subscribe-popup'
                class='inline-flex items-center justify-center bg-yellow-400 py-1.5 px-3 text-sm font-medium rounded-md hover:bg-yellow-500'>
          {% include "icons/email.njk" %}
          <span class='ml-2'>Subscribe</span>
        </button>
      </div>
      <a href='https://github.com/kamranahmedse/developer-roadmap/issues/new?title=[Suggestion] {{ title }}'
         target='_blank'
         class='inline-flex items-center justify-center bg-green-600 text-white py-1.5 px-3 text-sm font-medium rounded-md hover:bg-green-700'>
        {% include "icons/comment.njk" %}
        <span class='ml-2'>Suggest Changes</span>
      </a>
    </div>

    {% if hasTopics %}
      <div class='-mb-16 mt-7 px-2 bg-white border flex justify-between rounded-md items-center'>
        <p class='text-sm'>
          <span
            class='text-yellow-900 bg-yellow-200 py-0.5 px-1 text-xs rounded-sm font-medium uppercase mr-0.5'>New</span>
          Resources are here, try clicking nodes
        </p>

        <a href='{{ permalink }}topics'
           class='inline-flex items-center justify-center py-1.5 text-sm font-medium rounded-md hover:text-black text-gray-500 px-1'>
          {% include "icons/search.njk" %}
          <span class='ml-2'>Search Topics</span>
        </a>
      </div>
    {% endif %}
  </div>
</div>
