<div id='topic-overlay' class='hidden'>
  <div class='bg-black/50 fixed left-0 top-0 right-0 bottom-0 z-10'></div>
  <div class='w-[600px] min-h-screen bg-white fixed overflow-y-scroll right-0 top-0 z-20 p-5'>
    <div id='topic-loader' class='hidden'>Loading ...</div>
    <div id='topic-content'></div>
  </div>
</div>
