---
layout: layouts/md-roadmap.njk
permalink: /frontend/topics/
---

<h1 class='text-3xl font-bold mb-2'>Frontend Topics</h1>
<p class='mb-2'>Enter your input below to search and learn a frontend topic</p>
<input
  type="text"
  id="first_name"
  class="border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5 px-4"
  placeholder="Enter your input"
/>

{{ content.frontend | log }}
