---
layout: layouts/svg-roadmap.njk
permalink: "/react/"
jsonUrl: /assets/jsons/react.json
order: 1
title: React
description: Step by step guide to become a React Developer in 2022
seo:
  title: 'React Developer Roadmap: Learn to become a React developer'
  description: 'Community driven, articles, resources, guides, interview questions, quizzes for react development. Learn to become a modern React developer by following the steps, skills, resources and guides listed in this roadmap.'
  keywords:
    - 'react roadmap 2022'
    - 'react developer roadmap 2022'
    - 'guide to becoming a react developer'
    - 'react developer roadmap'
    - 'react roadmap'
    - 'become react developer'
    - 'react developer skills'
    - 'react skills test'
    - 'skills for react development'
    - 'learn react development'
    - 'what is react'
    - 'react quiz'
    - 'react interview questions'
tags:
  - roadmap
  - skill-roadmap
  - non-interactive
---

<h1 class='text-5xl font-bold'>React Developer</h1>
<p>Roadmap to becoming a react developer</p>
