<!doctype html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css" />
  {# TODO: Remove this later when deploying #}
  <meta name="robots" content="noindex">

  {% block headerAssets %}
    {# Any header assets such as styles etc to go here #}
  {% endblock %}
</head>
<body>

{% include "../components/navigation.njk" %}

<main class="p-1 container mx-auto w-[800px]">
  {{ content | safe }}
</main>

{% block footerAssets %}
  {# Any footer assets such as styles etc to go here #}
  {% set js %}
    {% include "assets/navigation.js" %}
  {% endset %}
  <script>
    {{ js | jsmin | safe }}
  </script>
{% endblock %}
</body>
</html>
