{% extends 'layouts/base.njk' %}

{# Adds the syntax highlighter CSS for markdown based roadmap #}
{% block headerAssets %}
  {{ super() }}

  {% set css %}
    {% include "styles/prism.css" %}
  {% endset %}

  <style>{{ css | safe }}</style>
{% endblock %}

{% block main %}
  {% if title %}
    {% include "components/guide-header.njk" %}
  {% endif %}

  <div class='bg-gray-50 py-10'>
    <div class='max-w-[800px] container'>
      <main id='main-content'>
        {{ content | safe }}
      </main>
    </div>
  </div>
{% endblock %}
