{% extends 'layouts/base.njk' %}

{# Adds the syntax highlighter CSS for markdown based roadmap #}
{% block headerAssets %}
  {{ super() }}

  {% set css %}
    {% include "styles/prism.css" %}
  {% endset %}

  <style>{{ css | safe }}</style>
{% endblock %}

{% block main %}
  {% if title %}
    {% include "components/guide-header.njk" %}
  {% endif %}

  <div class='bg-gray-50 {{ 'py-5 sm:py-10' if title != null }} {{ 'py-0 sm:py-10' if title == null }}'>
    <div class='container'>
      <main id='main-content'>
        {{ content | safe }}
      </main>
    </div>
  </div>
{% endblock %}
