{% extends 'layouts/base.njk' %}

{% block headerAssets %}
  {{ super() }}

  {% set css %}
    {% include "styles/roadmap.css" %}
  {% endset %}

  <style>{{ css | safe }}</style>
{% endblock %}

{% block main %}
  {{ super() }}

  {% include "components/roadmap-header.njk" %}

  <div class='bg-gray-50 py-10'>
    <div class='max-w-[1000px] container'>
      {% include "components/topic-overlay.njk" %}

      <div id='roadmap-svg'>
        {% include "components/loader.njk" %}
      </div>
    </div>
  </div>
{% endblock %}

{# Adds the assets for the footer #}
{% block footerAssets %}
  {{ super() }}

  <script src='/scripts/modal.js'></script>
  <script src='/scripts/roadmap.js'></script>
  <script>
    window.initRoadmap({
      roadmapId: '{{ page.fileSlug }}',
      jsonUrl: '{{ jsonUrl }}'
    });
  </script>
{% endblock %}
