{% extends 'layouts/base.njk' %}

{% block headerAssets %}
  {{ super() }}

  {% set css %}
    {% include "styles/roadmap.css" %}
  {% endset %}

  <style>{{ css | safe }}</style>
{% endblock %}

{% block main %}
  {{ super() }}

  <div class='border-b'>
    <div class='py-12 max-w-[800px] mx-auto container'>
      <h1 class='text-4xl mb-2 font-bold'>{{ title }}</h1>
      <p class='text-gray-500 text-md mb-6'>{{ description }}</p>

      <div class='flex justify-between'>
        <div class='flex gap-2'>
          <a href='/' class='bg-gray-500 py-1.5 px-3 rounded-md text-white text-sm font-medium hover:bg-gray-600'>&larr; All Roadmaps</a>
          <a href='#' class='inline-flex items-center justify-center bg-yellow-400 py-1.5 px-3 text-sm font-medium rounded-md hover:bg-yellow-500'>
            {% include "icons/download.njk" %}
            <span class='ml-2'>Download</span>
          </a>

          <a href='#' class='inline-flex items-center justify-center bg-yellow-400 py-1.5 px-3 text-sm font-medium rounded-md hover:bg-yellow-500'>
            {% include "icons/email.njk" %}
            <span class='ml-2'>Subscribe</span>
          </a>
        </div>
        <a href='#' class='inline-flex items-center justify-center bg-green-600 text-white py-1.5 px-3 text-sm font-medium rounded-md hover:bg-green-700'>
          {% include "icons/comment.njk" %}
          <span class='ml-2'>Suggest Changes</span>
        </a>
      </div>
    </div>
  </div>

  <div class='bg-gray-50 py-5'>
    <div class='max-w-[1000px] container'>
      {% include "components/topic-overlay.njk" %}

      <div id='roadmap-svg'>
        {% include "components/loader.njk" %}
      </div>
    </div>
  </div>
{% endblock %}

{# Adds the assets for the footer #}
{% block footerAssets %}
  {{ super() }}

  <script src='/scripts/roadmap.js'></script>
  <script>
    window.initRoadmap({
      roadmapId: '{{ page.fileSlug }}',
      jsonUrl: '{{ jsonUrl }}'
    });
  </script>
{% endblock %}
