{% extends 'layouts/base.njk' %}

{# Adds the syntax highlighter CSS for markdown based roadmap #}
{% block headerAssets %}
  {{ super() }}

  {% set css %}
    {% include "styles/prism.css" %}
  {% endset %}

  <style>{{ css | safe }}</style>
{% endblock %}

{% block main %}
  <div class='bg-white py-12 pb-6'>
    <div class='max-w-[800px] container'>
      <p class='text-gray-400'>
        <a href='/roadmaps' class='hover:text-gray-800'>Roadmaps</a>
        <span>&middot;</span>
        <a class='hover:text-gray-800' href='{{ roadmap.permalink }}'>{{ roadmap.title }}</a>
        <span>&middot;</span>
        <span>Topics</span>
      </p>
      <h1 class='text-5xl my-2 font-bold'>{{ heading }}</h1>
      <p class='text-gray-500 text-md'>Enter your input below to search and learn a topic</p>
    </div>
  </div>

  <div class='max-w-[800px] container pb-16'>
    <input
      autofocus
      type="text"
      id='search-topic-input'
      class="mb-6 border border-gray-300 text-gray-900 text-md rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5 px-4"
      placeholder="Enter your input"
    />

    {% for topic in topics[roadmap.contentKey] %}
      <a data-topic='{{ topic.heading | lower }}'
         class='border-gray-200 border py-1.5 px-2 rounded-sm block mb-1 hover:bg-gray-100 {{ "bg-gray-400 hover:bg-gray-500" if topic.breadcrumbs.length === 2 }} {{ "bg-gray-300 hover:bg-gray-200" if topic.breadcrumbs.length === 3 }}'
         href='{{ topic.permalink }}'>
        {{ topic.heading }}
      </a>
    {% endfor %}
    <main class="p-1">
      {{ content | safe }}
    </main>
  </div>
{% endblock %}

{# Adds the assets for the footer #}
{% block footerAssets %}
  {{ super() }}

  <script src='/scripts/topics.js'></script>
{% endblock %}
