{% extends 'layouts/base.njk' %}

{# Adds the syntax highlighter CSS for markdown based roadmap #}
{% block headerAssets %}
  {{ super() }}

  {% set css %}
    {% include "styles/prism.css" %}
  {% endset %}

  <style>{{ css | safe }}</style>
{% endblock %}

{% block main %}
  {% set title = roadmap.title %}
  {% set description = roadmap.description %}
  {% set hasTopics = false %}
  {% set hasSearch = true %}
  {% include "components/roadmap-header.njk" %}

  <div class='bg-gray-50 pt-5 sm:pt-10 pb-16'>
    <div class='container'>
      {% for topic in topicPage.roadmapTopics %}
        <a data-topic='{{ topic.heading | lower }}'
           class='border-gray-200 border py-1.5 px-2 rounded-sm block mb-1 hover:bg-gray-100 {{ "bg-gray-400 hover:bg-gray-500" if topic.breadcrumbs.length === 2 }} {{ "bg-gray-300 hover:bg-gray-200" if topic.breadcrumbs.length === 3 }}'
           href='{{ topic.permalink }}'>
          {{ topic.heading }}
        </a>
      {% endfor %}
      <main class="p-1">
        {{ content | safe }}
      </main>
    </div>
  </div>
{% endblock %}

{# Adds the assets for the footer #}
{% block footerAssets %}
  {{ super() }}

  <script src='/scripts/topics.js'></script>
{% endblock %}
