{% extends 'layouts/base.njk' %}

{# Adds the syntax highlighter CSS for markdown based roadmap #}
{% block headerAssets %}
  {{ super() }}

  {% set css %}
    {% include "styles/prism.css" %}
  {% endset %}

  <style>{{ css | cssmin | safe }}</style>
{% endblock %}


{% block main %}
  <p class='text-gray-400'>
    <a href='/roadmaps'>Roadmaps</a>
    <span>&middot;</span>
    {% for breadcrumb in topic.breadcrumbs %}
      {% if loop.last === false %}
        <a href='{{ breadcrumb.permalink }}'>{{ breadcrumb.heading }}</a>
        <span>&middot;</span>
      {% else %}
        <span>{{ breadcrumb.heading }}</span>
      {% endif %}
    {% endfor %}
  </p>

  <main id='main-content' class="p-1 container mx-auto max-w-[800px]">
    {{ content | safe }}
  </main>
{% endblock %}
