{% extends 'layouts/base.njk' %}

{# Adds the syntax highlighter CSS for markdown based roadmap #}
{% block headerAssets %}
  {{ super() }}

  {% set css %}
    {% include "styles/prism.css" %}
  {% endset %}

  <style>{{ css | safe }}</style>
{% endblock %}


{% block main %}

  <p class='text-gray-400 mb-3'>
    <a href='/roadmaps'>Roadmaps</a>
    <span>&middot;</span>
    <a href='{{ roadmap.permalink }}'>{{ roadmap.title }}</a>
    <span>&middot;</span>
    <span>Topics</span>
  </p>

  <h1 class='text-3xl font-bold mb-2'>{{ heading }}</h1>
  <p class='mb-3'>Enter your input below to search and learn a topic</p>

  <input
    autofocus
    type="text"
    id='search-topic-input'
    class="border border-gray-300 text-gray-900 text-md rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5 px-4 mb-4"
    placeholder="Enter your input"
  />

  {% for topic in topics[roadmap.contentKey] %}
    <a data-topic='{{ topic.heading | lower }}'
       class='border-gray-200 border py-1.5 px-2 rounded-sm block mb-1 hover:bg-gray-100 {{ "bg-gray-200 hover:bg-gray-300" if topic.breadcrumbs.length === 2 }}'
       href='{{ topic.permalink }}'>
      {{ topic.heading }}
    </a>
  {% endfor %}
  <main class="p-1 container mx-auto max-w-[800px]">
    {{ content | safe }}
  </main>
{% endblock %}

{# Adds the assets for the footer #}
{% block footerAssets %}
  {{ super() }}

  <script src='/scripts/topic-reference.js'></script>
{% endblock %}
