---
layout: layouts/sitemap.njk
permalink: /topic-sitemap.xml
---

{% for page in collections['topic-sitemap'] %}
  <url>
    <loc>https://roadmap.sh{{ page.url }}</loc>
    <changefreq>{{ page.data.sitemap.changefreq }}</changefreq>
    <lastmod>{{ page.date.toISOString() }}</lastmod>
    <priority>{{ page.data.sitemap.priority }}</priority>
  </url>
{% endfor %}
