---
title: Oops, not found!
layout: layouts/base.njk
permalink: /404.html
---

<h1 class='text-5xl font-bold'>Oops! not found</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur enim esse expedita hic, nulla officiis qui saepe. Asperiores aspernatur, dolorem, ducimus ipsa modi molestias natus obcaecati quisquam rerum, voluptas voluptatibus.</p>
