---
layout: layouts/base.njk
seo:
  title: "Guides - roadmap.sh"
  description: "Detailed guides on Software Engineering Topics"
sitemap:
  priority: 1
  changefreq: monthly
tags:
  - main-sitemap
---

{% set showYouTubeAlert = false %}
{% set title = "Guides" %}
{% set description = "Succinct graphical explanations to engineering topics." %}
{% include "components/simple-page-header.njk" %}

{% set listItems = collections['guide'] | reverse %}
<div class='mb-20'>
  {% include "components/featured-list.njk" %}
</div>
