---
title: Home
layout: layouts/base.njk
sitemap:
  priority: 1
  changefreq: monthly
tags:
  - main-sitemap
---
{%- import "components/resource-link.njk" as resourceLink -%}

<div class='mb-32'>
  <h1 class='text-4xl mb-2 font-bold'>Roadmaps</h1>
  <p class='mb-5'>Here is the list of available roadmaps</p>
  <h2 class='text-xl font-bold mb-2'>Role based</h2>
  <ul class='mb-5'>
    {% for roadmap in collections['roleRoadmaps'] %}
      <li><a class='underline text-blue-800 hover:text-red-700' href='{{ roadmap.data.permalink }}'>{{ roadmap.data.title }}</a></li>
    {% endfor %}
  </ul>
  <h2 class='text-xl font-bold mb-2'>Skill based</h2>
  <ul class='mb-5'>
    {% for roadmap in collections['skillRoadmaps'] %}
      <li><a class='underline text-blue-800 hover:text-red-700' href='{{ roadmap.data.permalink }}'>{{ roadmap.data.title }}</a></li>
    {% endfor %}
  </ul>

  <h2 class='text-3xl font-bold'>Guides</h2>
  <ul class='mb-5'>
    {% for guide in (collections['guide'] | reverse).slice(0, 10) %}
      <li><a class='underline text-blue-800 hover:text-red-700' href={{ guide.data.page.url }}>{{ guide.data.title }}</a></li>
    {% endfor %}
  </ul>
  <a href='/guides' class='p-2 text-sm font-medium rounded-md bg-blue-200 hover:bg-blue-300'>All Guides</a>
</div>
