---
title: Home
layout: layouts/base.njk

---
{%- import "components/resource-link.njk" as resourceLink -%}

<div>
  <h1 class='text-4xl mb-2 font-bold'>Roadmaps {{ page.inputPath | lastModifiedDate }}</h1>
  <p class='mb-5'>Here is the list of available roadmaps</p>
  <h2 class='text-xl font-bold mb-2'>Role based</h2>
  <ul class='mb-5'>
    {% for roadmap in collections['role-roadmap'] | sortByOrder %}
      <li><a class='underline text-blue-800 hover:text-red-700' href='{{ roadmap.data.permalink }}'>{{ roadmap.data.title }}</a></li>
    {% endfor %}
  </ul>
  <h2 class='text-xl font-bold mb-2'>Skill based</h2>
  <ul class='mb-5'>
    {% for roadmap in collections['skill-roadmap'] | sortByOrder %}
      <li><a class='underline text-blue-800 hover:text-red-700' href='{{ roadmap.data.permalink }}'>{{ roadmap.data.title }}</a></li>
    {% endfor %}
  </ul>

  <h2 class='text-3xl font-bold'>Other Pages</h2>
  <ul class='mb-5'>
    <li><a class='underline text-blue-800 hover:text-red-700' href='/roadmaps'>Roadmaps</a></li>
    <li><a class='underline text-blue-800 hover:text-red-700' href='/guides'>Guides</a></li>
    <li><a class='underline text-blue-800 hover:text-red-700' href='/videos'>Videos</a></li>
    <li><a class='underline text-blue-800 hover:text-red-700' href='/about'>About Page</a></li>
  </ul>
</div>
