---
title: Roadmaps
layout: layouts/base.njk
seo:
  title: "Developer Roadmaps"
  description: "Step by step guides and paths to learn different tools or technologies"
sitemap:
  priority: 1
  changefreq: monthly
tags:
- main-sitemap
---

<div class='bg-white border-b py-12'>
  <div class='max-w-[800px] container'>
    <div class='mb-4'>
      {% include "components/youtube-alert.njk" %}
    </div>
    <h1 class='text-5xl mb-2 font-bold'>Developer Roadmaps</h1>
    <p class='text-gray-500 text-md'>Step by step guides and paths to learn different tools or technologies</p>
  </div>
</div>

<div class='bg-gray-100 py-8'>
  <div class='max-w-[800px] container'>
    <ul class='grid grid-cols-2 gap-3'>
      {% for roadmap in collections['allRoadmaps'] %}
        <li>
          <a href="{{ roadmap.data.permalink }}" class='bg-gradient-to-r from-slate-900 to-amber-900 hover:from-stone-900 hover:to-stone-900 hover:bg-gray-100 flex flex-col p-5 rounded-lg border border-gray-200 relative h-full'>
            <span class='font-medium text-xl text-gray-100 mb-1.5'>{{ roadmap.data.title }}</span>
            <span class='text-sm leading-normal text-gray-400'>{{ roadmap.data.description }}</span>

            {% if roadmap.data.isNew === true %}
              <span class='absolute bottom-1 right-1 bg-yellow-300 text-yellow-900 text-xs font-medium px-1.5 py-0.5 rounded-sm uppercase'>
                New
              </span>
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
