---
title: Roadmaps
layout: layouts/base.njk
---

<h1 class='text-2xl font-bold underline mb-3'>All Roadmaps</h1>
<dl>
  {% for roadmap in collections['roadmap'] %}
    <dt class='text-xl font-bold'><a href="{{ roadmap.data.permalink }}">{{ roadmap.data.title }}</a></dt>
    <dd class='mb-5'>{{ roadmap.data.description }}</dd>
  {% endfor %}
</dl>
