---
layout: layouts/base.njk
title: Videos
seo:
  title: "Illustrated Videos - roadmap.sh"
  description: "Illustrated videos on Software Engineering topics"
sitemap:
  priority: 1
  changefreq: monthly
tags:
  - main-sitemap
---

{% set showYouTubeAlert = true %}
{% set title = "Videos" %}
{% set description = "Graphical video demonstrations on software engineering topics" %}
{% include "components/simple-page-header.njk" %}

{% set listItems = collections['video'] | reverse %}
<div class='pb-20 pt-2 bg-gray-50'>
  {% include "components/featured-list.njk" %}
</div>
