---
layout: layouts/base.njk
title: Videos
seo:
  title: "Illustrated Videos - roadmap.sh"
  description: "Illustrated videos on Software Engineering topics"
sitemap:
  priority: 1
  changefreq: monthly
tags:
  - main-sitemap
---

<div class='max-w-[800px] container'>
  <div class='mt-8 mb-2'>
    <h1 class='text-3xl font-bold'>Videos</h1>
  </div>

  <ul class='mb-5'>
    {% for video in collections['video'] | reverse %}
      <li>
        <a class='underline text-blue-800 hover:text-red-700 flex justify-between' href='{{ video.data.page.url }}'>
          {{ video.data.title }} <span class='capitalize text-gray-600'>{{ video.data.duration }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
